html,
body {
    background: #1a202c !important;
    color: rgba(255, 255, 255, 0.92) !important;
}
header {
    background: #171923 !important;
}
.top_box .top_link_box li a,
.top_box .top_user {
    color: #a0aec0 !important;
    background: none !important;
}
.top_wrap h1 a {
    background: url(https://i.imgur.com/It5NA1S.png) no-repeat 0 0 !important;
    background-size: cover !important;
    max-height: 100% !important;
    max-width: 100% !important;
    width: 80px !important;
}
.gnb ul li .depth2_w li a {
    color: #a0aec0 !important;
}
.gnb ul li .depth2_w {
    background: #1a202c !important;
}
